@import "shared";

.eosc-common {
  &.eu-information {
    padding: calc(1.5 * #{$font-size-base});

    p {
      font-size: 13px;
      line-height: calc(1.2 * #{$font-size-base});
      font-weight: 300;
      color: #a6aeb1;
    }

    a,
    a:hover {
      color: #a6aeb1;
      text-decoration: underline;
    }
  }
}
