@import "shared";

.eosc-common {

  &.footer-common {
    width: 100%;
    background-color: $color-7;
    font-weight: 300;
    padding: 60px 0 32px 0;

    .logo-one {
      background: url("assets/logo-beyond-square.svg") top center no-repeat;
      background-size: 112px auto;
      width: 112px;
      height: 55px;
      display: block;
    }

    .logo-two {
      background: url("assets/eu-icon.svg") center no-repeat;
      width: 148px;
      height: 32px;
      display: block;
      margin-right: 20px;
    }

    ul {
      line-height: calc(1.1 * #{$font-size-base});
      padding: 0;
      list-style: none;
      margin: 0;

      li {
        margin-bottom: 14px;
        font-size: calc(0.68 * #{$font-size-base});
        font-weight: 700;
        color: $color-7;

        a {
          font-size: 28px;
          font-family: "Quicksand";
          font-weight: 600;
          line-height: 1.1;
          color: $color-black;

          &:hover {
            text-decoration: none;
            color: $color-8;
          }
        }
      }
    }

    .title {
      color: $color-white;
      font-weight: 700;
      line-height: 1.2;
      text-transform: uppercase;
      font-size: 11px;
      margin-bottom: 18px;

      a {
        font-size: 11px;
        text-transform: uppercase;
        color: $color-white;
        font-weight: 700;
      }
    }

    a {
      color: $color-white;
      font-size: calc(1 * #{$font-size-base});

      &:hover {
        color: $color-white;
        text-decoration: underline;
      }
    }

    hr {
      border-color: $color-6;
    }

    .logo-row {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }

  .logo-row {
    .col-md {
      align-self: center;
    }
  }

  &.copyright {
    font-size: 14px;
    font-weight: 400;
    color: #828282;

    ul {
      display: inline;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0 10px 0 0;
        border-right: 1px solid #17181c;
        padding: 0 10px 0 0;
        display: inline;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          border-right: none;
        }

        a {
          font-size: 14px;
          font-weight: 400;
          color: $color-8;

          &:hover {
            color: $color-black;
          }
        }
      }
    }

    a {
      font-size: calc(0.75 * #{$font-size-base});
      color: #828282;

      &:hover {
        text-decoration: none;
      }
    }

    .ue-logo {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: flex-start;
      margin: 20px 0 0 0;
    }

    .ueText {
      font-size: 11px;
      line-height: 15px;
      color: #17181C;
    }
  }
}

.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  justify-content: space-between;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {

  .footer-row {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    .footer-menu {
      align-items: center;
      width: 95%;
      justify-content: space-between;
      flex-direction: column;
      margin-bottom: 30px;

      li {
        a {
            font-size: 20px;
        }
      }
    }
  }

  .eosc-common {
    .copyright {
      margin-top: 30px;

      ul {
        width: 100%;
        text-align: center;
      }
    }
  }
}
