@import "shared";

.eosc-common {
  &.copyright {
    font-size: 12px;
    font-weight: 300;
    background: $color-white;
    color: #828282;
    text-align: center;
    padding: 20px 0 15px;

    a {
      font-size: calc(0.75 * #{$font-size-base});
      color: #828282;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &.footer {
    width: 100%;
    background-color: $color-4;
    font-weight: 300;
    padding: $font-size-base 0 0;

    .logo-one {
      background: url("assets/eosc-logo-mono.png") top center no-repeat;
      background-size: 135px auto;
      width: 135px;
      height: 55px;
      display: block;
    }

    .logo-two {
      background: url("assets/eosc-footer-logo.png") center no-repeat;
      width: 148px;
      height: 79px;
      display: block;
    }

    ul {
      line-height: calc(1.1 * #{$font-size-base});
      padding: 0;
      list-style: none;
      margin: 0 0 35px;

      li {
        margin-bottom: 14px;
        font-size: calc(0.68 * #{$font-size-base});
        font-weight: 700;
        color: $color-7;

        a {
          font-size: 12px;
          font-weight: 300;
          line-height: 1.1;
          color: $color-7;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .title {
      color: $color-white;
      font-weight: 700;
      line-height: 1.2;
      text-transform: uppercase;
      font-size: 11px;
      margin-bottom: 18px;

      a {
        font-size: 11px;
        text-transform: uppercase;
        color: $color-white;
        font-weight: 700;
      }
    }

    a {
      color: $color-white;
      font-size: calc(1 * #{$font-size-base});

      &:hover {
        color: $color-secondary;
      }
    }

    hr {
      border-color: $color-6;
    }

    .social-logo {
      width: auto;
      padding-left: 25px;
      height: 30px;
      font-size: 12px;
      line-height: 30px;
      display: block;
      background-size: 16px auto;
      background-position: 0 7px;
      background-repeat: no-repeat;
    }

    .social-logo:hover {
      color: $color-white;
      opacity: 0.7;
    }

    .twitter-logo {
      background-image: url("assets/t-icon.svg");
    }

    .yt-logo {
      background-image: url("assets/yt-icon.svg");
      background-position: 0 9px;
    }
  }
}
