@import "shared";

.eosc-common {
  &.top {
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
    padding: 15px 0;
    background: $color-white;

    .container {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      display: flex;
      flex-flow: row;
      max-width: 100%;
    }

    .center-links {
      text-align: center;
      flex-grow: 2;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .left-links {
      text-align: left;

      .header-logo {
        width: 84px;
        height: 32px;
        background: url("assets/eosc-logo.svg") center no-repeat;
        display: block;
      }
    }

    .right-links {
      text-align: right;
      color: $color-primary;
      flex-basis: auto;
      align-items: center;
      display: flex;

      .browse-link {
        margin-right: 0;
        margin-left: 0;

        a {
          border: 1px solid $color-primary;
          border-radius: 24px;
          background: $color-white;
          font-size: 14px;
          font-weight: 400;
          position: relative;
          padding: 7px 20px 7px 38px;
          transition: all 0.25s ease;

          &:before {
            content:'';
            position: absolute;
            left: 12px;
            top: 6px;
            width: 16px;
            height: 16px;
            background: url("assets/search.svg") center no-repeat;
            background-size: cover;
            display: block;
          }

          &:hover {
            -webkit-box-shadow: 0px 0px 12px 0px rgba(66, 68, 90, 0.2);
            -moz-box-shadow: 0px 0px 12px 0px rgba(66, 68, 90, 0.2);
            box-shadow: 0px 0px 12px 0px rgba(66, 68, 90, 0.2);
            color: $color-primary;
          }
        }
      }

      li {
        font-size: 14px;
        margin-right: 0;

        a {
          color: $color-primary;
          font-size: 14px;
        }
      }

      .dropdown {
        display: inline;
        margin-left: 10px;

        .account-dropdown {
          display:inline-block;
          cursor: pointer;
          border-radius: 100%;
          width: 32px;
          height: 32px;
          line-height: 32px;
          text-align: center;
          background: #EDF4FF;
          color: $color-primary;

          > svg {
            margin-left: auto;
            margin-right: auto;
          }
        }

        .dropdown-menu {
          left: auto !important;
        }
      }
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      line-height: calc(1.5 * #{$font-size-base});

      li {
        margin: 0 calc(0.5 * 20px);
        display: inline-block;
        font-size: $font-size-sm;
        color: $palette-gray-80;

        svg {
          width: 15px;
          display: inline-block;
          margin-bottom: 4px;
        }

        a {
          color: $palette-gray-80;
          padding-bottom: 4px;
          font-weight: 400;
          text-decoration: none;

          &.active {
            border-bottom: 2px solid $color-primary;
            font-weight: 400;
          }

          &:hover {
            color: $palette-gray-50;
            text-decoration: none;
          }
        }
      }
    }
  }
}

ul.login-dropdown {
  list-style: none;
  position: absolute;
  display: block;
  background-color: white;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  border-color: gray;
  border-width: 1px;

  li {
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 1100px) {

  .eosc-common {
    .top {
      ul {
        li {
          margin: 0 6px;
          font-size: 13px;

          svg {
            width: 11px;
            margin-bottom: 3px;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }

      .center-links {
        text-align: right;
        padding-right: 20px;
      }

      .right-links {

        a {
          font-size: 13px;
        }

        .dropdown {
          .account-dropdown {
            width: 25px;
            height: 25px;
            line-height: 25px;
          }
        }
      }
    }
  }
}

.commons-header ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.commons-header .menu li a {
  display: block;
  text-decoration: none;
}

.commons-header .menu li a:hover,
.commons-header .menu-btn:hover {
  color: $color-primary;
}

/* menu */

.commons-header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.commons-header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: left;
  padding: 19px 20px;
  position: absolute;
  left: 44%;
  user-select: none;
}

.commons-header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 3px;
  position: relative;
  transition: background .2s ease-out;
  width: 22px;
}

.commons-header .menu-icon .navicon:before,
.commons-header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.commons-header .menu-icon .navicon:before {
  top: 7px;
}

.commons-header .menu-icon .navicon:after {
  top: -7px;
}

/* menu btn */

.commons-header .menu-btn {
  display: none;
}

.commons-header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.commons-header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.commons-header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.commons-header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.commons-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.commons-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


@media (min-width: 992px) {

  .commons-header .menu li {
    float: left;
  }

  .commons-header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .commons-header .menu-icon {
    display: none;
  }
}

@media screen and (max-width: 992px) {

  .eosc-common.top .container {
    padding-right: 10px;
    padding-left: 10px;
    display: block;
  }

  .eosc-common.top .left-links .header-logo {
    width: 110px;
    height: 42px;
    background-size: 110px auto;
  }

  .eosc-common.top .right-links {
    position: absolute;
    top: 22px;
    display: block;
    right: 10px;
  }

  .eosc-common.top .left-links {
    float: left;
  }

  .eosc-common.top .center-links {
    display: block;
  }

  .eosc-common.top .center-links li {
    width: 100%;
    margin: 4px 0;
  }

}
