@import "shared";

.eosc-common {
  &.top {
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
    padding: 15px 0;
    background: $color-white;

    .container {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      line-height: calc(1.5 * #{$font-size-base});
      text-align: right;

      li {
        margin: 0 calc(0.5 * 26px);
        display: inline-block;
        font-size: $font-size-sm;
        color: $palette-gray-80;

        svg {
          width: 12px;
          margin-right: 6px;
          margin-bottom: 4px;
        }

        a {
          color: $palette-gray-80;
          padding-bottom: 3px;
          text-decoration: none;

          &.active {
            border-bottom: 1px solid $color-secondary;
            font-weight: 600;
            color: $color-new-blue;
          }

          &:hover {
            color: $palette-gray-50;
            text-decoration: none;
          }
        }
      }
    }
  }
}
